.userPage {
    padding: 20px;
}

.userBox {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.rightBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 500px;
    border: 1px solid rgba(25, 28, 28, 0.2);
    border-radius: 10px;
}

.topRightBox {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
}

.bottomRightBox {
    font-size: 18px;
    font-style: italic;
}

.leftBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 130px;
    margin-right: 50px;
}

.leftBox img {
    width: 100px;
    border-radius: 50%;
}

.pagesBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px 12px 5px 5px;
    width: 200px;
    margin: 0 auto 50px;
    border: 1px solid rgba(0,1,1, .1);
    border-radius: 5px;
    overflow: hidden;
}

.numberPage {
    margin-right: 5px;
}

.activeNumberPage {
    margin-right: 5px;
    font-weight: bold;
}

