.form {
    margin: 0 auto;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form button {
    width: 100px;
    margin: 0 auto;
}

.form label {
    font-weight: 600;
}

.errorForm {
    border: 2px solid red;
    outline:none;
}

.errorMessage {
    color: red;
}